a {
    text-decoration: none;
    color: #6A1B9A;
    padding: 15px;
    flex-grow: 1;
    text-align: center;
}
.active{
    background-color: #b39dd8;
}
.flex-row {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;

}
/*
.flex-column {
     flex-direction: column;
}*/
