div{
    width: 800px;
}
h2{
    text-align: center;
}
.red{
    color: red;
}
.bold{
    font-weight: bold;
}
.upper{
    text-transform: uppercase;
}
.decoration{
    text-decoration: line-through;
    text-decoration-color: red;
}
